name: CI
run-name: CI • ${{ github.event_name }} • ${{ github.ref_name }}
permissions:
  issues: write
  pull-requests: write
  checks: write

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup:
    name: Setup
    uses: ./.github/workflows/run-setup.yml


  unit-tests:
    name: Unit Tests
    needs: [setup]
    uses: ./.github/workflows/run-codequality-unit-tests.yml
    with:
      module-list: ${{ needs.setup.outputs.module-list }}