name: '[template] PS Cache Dependencies'
permissions: read-all
on:
  workflow_call:
    outputs:
      module-list: 
        description: 'Comma-separated list of PowerShell modules to install and cache'
        value: ${{ jobs.setup-powershell-dependencies.outputs.module-list }}

jobs:
  setup-powershell-dependencies:
    name: Dependencies
    runs-on: [ubuntu-latest]
    outputs:
      module-list: ${{ steps.resolve-dependencies.outputs.module-list }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 #v6.01
        with:
          repository: ${{ github.repository }}

      - name: Resolve module dependencies
        id: resolve-dependencies
        shell: pwsh
        run: |
          # Resolve module dependencies from requirements.psd1
          $moduleRequirements = Import-PowerShellDataFile -Path './requirements.psd1'
          $moduleList = foreach ($module in $moduleRequirements.GetEnumerator()) {
              $moduleName = $module.Key
              $moduleInfo = $module.Value

              $name = if ($moduleInfo.Repository -and $moduleInfo.Repository -ne 'PSGallery') {
                  "$($moduleInfo.Repository)\$moduleName"
              }
              else {
                  $moduleName
              }

              if ($moduleInfo.Version -and $moduleInfo.Version -ne 'latest') {
                  "$name`:$($moduleInfo.Version)"
              }
              else {
                  $name
              }
          }
          $moduleList = $moduleList | Sort-Object | Join-String -Separator ','
          "module-list=$moduleList" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

      - name: Install and cache PowerShell modules
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 #v6.2.1
        with:
          modules-to-cache: ${{ steps.resolve-dependencies.outputs.module-list }}
          shell: pwsh
          updatable: false

      - name: Verify installed modules
        shell: pwsh
        run: |
          # Verify that required modules are installed
          $moduleRequirements = Import-PowerShellDataFile -Path './requirements.psd1'
          foreach ($moduleName in $moduleRequirements.Keys) {
              Get-Module -ListAvailable -Name $moduleName -ErrorAction Stop
          }

